.container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #633FA3;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.button-next:hover {
  background-color: red;
}
